body {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 72);
  color: #ffffff;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.bigContainer {
  width: 50%;
  height: 500px;
  margin: 5% 20% 5% 20%;
  /* background-color: rgb(0, 0, 0); */
  padding: 10px;
}
.bigContainer > p {
  position: absolute;
  left: 53%;
  top: 12%;
  font-size: 12px;
  word-spacing: 5px;
}

/* style for calc and theme */
#header {
  display: flex;
  justify-content: space-evenly;
}

#header h6 {
  font-weight: lighter;
  font-size: 10px;
}
#timer {
  display: flex;
  /* flex-direction: column; */
  /* border: #ffffff 2px solid; */
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

/* blue button style */
#blue-butt {
  width: 40px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(7, 7, 23);
}

/* red button stylie */
#red-butt {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  margin-top: 2.5px;
  margin-left: 3px;
}

/* screen style */

#screen {
  width: 50%;
  margin: auto;
  height: 25px;
  background-color: rgb(7, 7, 23);
  border-radius: 5px;
  text-align: right;
  color: #ffffff;
  padding: 15px 10px 30px;
}

/* styling for items container */

.itemContainer {
  width: 50%;
  margin: auto;
  height: 300px;
  background-color: rgb(7, 7, 23);
  border-radius: 5px;
  margin-top: 20px;
  /* padding: 20px 35px 20px 35px; */
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l "
    "m n o p"
    "q q r r";
  /* gap: 2px; */
}

.items {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 15px 10px 10px 15px;
  text-align: center;
  color: rgb(7, 7, 23);
  padding-top: 7px;
  font-weight: bold;
}

#items1 {
  grid-area: a;
}
#items2 {
  grid-area: b;
}
#items3 {
  grid-area: c;
}
#items4 {
  grid-area: d;
  background-color: rgb(39, 39, 91);
  color: #ffffff;
}
#items5 {
  grid-area: e;
}
#items6 {
  grid-area: f;
}
#items7 {
  grid-area: g;
}
#items8 {
  grid-area: h;
}
#items9 {
  grid-area: i;
}
#items10 {
  grid-area: j;
}
#items11 {
  grid-area: k;
}
#items12 {
  grid-area: l;
}
#items13 {
  grid-area: m;
}
#items14 {
  grid-area: n;
}
#items15 {
  grid-area: o;
}
#items16 {
  grid-area: p;
}
#items17 {
  grid-area: q;
  width: 130px;
  background-color: rgb(39, 39, 91);
  color: #ffffff;
}
#items18 {
  grid-area: r;
  width: 130px;
  background-color: rgb(195, 10, 10);
  color: #ffffff;
}
@media only screen and (max-width: 700px) {
  .bigContainer {
    width: 100%;
  }
}
